body {
    font-family: Monospace, Courier;
    font-size: 1rem;
    line-height: 1.2;
    color: #FFF;
    max-width: 50rem;
    padding: 2rem;
    margin: 0 auto;
    background: #3a3a3a;
}

img {
    max-width: 100%;
}

a {
    color: #6E90EE;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong, .header-title-link {
    color: #BBB;
}

.entry-date {
    color: #FFF;
}

.post-date {
    color: #AAA;
}

.post-title {
    margin: 0;
    text-transform: uppercase;
}

