body {
    font-family: Monospace, Courier;
    font-size: 1rem;
    line-height: 1.2;
    color: #FFF;
    margin: 0;
    background: #2a2a2a;
    height: 100%;
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
}

#content {
    background-color: #3a3a3a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#site {
    max-width: 56rem;
    background-color: #3f3f3f;
    margin: 0 auto;
    height: auto;
    min-height: 100% !important;
}

#header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #3f3f3f;
    border-bottom: 1px solid #888;
}

#footer {
    border-top: 1px solid #888;
    padding-top: 0.5rem;
    background-color: #3f3f3f;
}

img {
    max-width: 100%;
}

a {
    color: #6E90EE;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong, .header-title-link {
    color: #BBB;
}

.entry-date {
    color: #FFF;
}

.post-date {
    color: #AAA;
}

.post-title {
    margin: 0;
    text-transform: uppercase;
}

hr {
    color: #505058;
}

/* external links */

a[href^="http://"]:not([href*="dbx7.net"]):after,
a[href^="https://"]:not([href*="dbx7.net"]):after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
