<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>__TITLE__</title>
<link rel="icon" type="image/png" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" href="/css/site.css" media="screen">
</head>
<body>
    <div id="site" role="main">
        __POST_HEADER__
        <div id="content" class="content">
            <br />
            <div class="post-date">__DATE__</div>
            <h2 class="post-title">__TITLE__</h2>
            <hr />
            <div id="post-content">
                __CONTENT__
            </div>
        </div>
        __FOOTER__
    </div>
</body>
</html>
